<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EEIWA</title>
  <link rel="stylesheet" href="logedin.component.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<div class="logo">
  <h4>EEIWA</h4>
  <h5>Employer & Employee Interaction Web App</h5>

</div>
<nav class="nav-right">
</nav>


<div class="modal" id="modal1">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-body"></div>
  </div>
</div>

<div class="modal1" id="modal2">
  <div class="modal-content1">
    <span class="close">&times;</span>
    <div class="modal-body"></div>
  </div>
</div>



<nav>
  <ul class="nav-links">

    <li>
      <button id="myBtnHome" class="modal-open" data-modal="modal1"><i class="fa fa-fw fa-home"></i>Home</button>

    </li>
    <li>
      <button id="myBtnNews" class="modal-open" data-modal="modal2"><i class="far fa-newspaper"></i>News</button>
    </li>
    <li>
      <button id="myBtnCalendar" class="modal-open" data-modal="modal3"><i class="far fa-calendar-check"></i>Day Off Calendar</button>
    </li>
    <li>
      <button id="myBtnMessage" class="modal-open" data-modal="modal4"><i class="fa fa-fw fa-envelope"></i>Message</button>
    </li>

    <li>
      <button id="myBtnDepartments"><i class="far fa-building"></i>Departments</button>
    </li>

    <li>
      <button id="myBtnContact"><i class="far fa-id-card"></i>Contact</button>
    </li>
    <li>
      <button id="myBtnFaq"><i class="far fa-question-circle"></i>FAQ</button>
    </li>
    <li>
      <button id="myBtnProfile"><i class="far fa-user"></i>Profile</button>
    </li>
    <li>
      <button id="myBtnLogOut"><i class="fas fa-sign-out-alt"></i>Log Out</button>
    </li>
  </ul>

</nav>
<hr/>
<div class="vl"></div>
<script src="modal.js"></script>
</body>
</html>

